# OS / Shell
.bash_history
.bash_logout
.bashrc
.lesshst
.cache/

# Kubernetes
.kube/

# SSH
.ssh/

# Docker
.docker/

# Python
__pycache__/
*.pyc

# Env files
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Logs
*.log
